# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# Output files
*.pdf

# Picture files
*.png
*.jpg
*.jpeg
